#ui-editor .editor {
  padding-right: 60px;
}

#ui-editor .w-e-scroll {
  overflow-y: visible !important;
}

#ui-editor .w-e-text-container [data-slate-editor] p {
  position: relative !important;
  /* padding: 0 40px 0 10px; */
}

#ui-editor .mask {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 99;
  background: rgba(0, 0, 0, .4);
}

#ui-editor .ui-expression {
  margin: 0 3px;
  border-radius: 9px;
  padding: 1px 3px;
  color: #14549C;
  border: 0;
  background-color: var(--w-e-textarea-slight-bg-color);
}

#ui-editor span.warp-ui-play {
  position: absolute !important;
  top: 0 !important;
  right: 0 !important;
}

#ui-editor .ui-play {
  position: absolute;
  right: -60px;
  cursor: pointer;
}

#ui-editor .warn {
  color: #d54941;
}